<div class="navbar">
    <a href="/">Login</a>
    <h2>UV TAG - LOGIN</h2>
</div>

<br><br><br><br>
<h4 align="center">Recuperação de Senha</h4> 
<p align="center">Entre com seu e-mail, vamos enviar as instruções de recuperação</p>

<form action="/ForgotPass" method="POST">
    <input class="center-block-input" type="text" name="email" placeholder="email">
    <br>
    <button class="button1" type="submit"> Enviar</button>
</form>