<div class="navbar">
    <h2>UVTAG - ACESSO</h2>
</div>

<form action="/Login" method="POST">
    <br><br><br><br>
    <input class="center-block-input" type="text" name="email" placeholder="email">
    <br>
    <input class="center-block-input" type="password" name="senha" placeholder="senha">
    <br>
    <div align="center">
        <a href="/ForgotPass">Esqueci a senha</a>
    </div>
    <br> 
    <button class="button1" type="submit"> Acessar</button>
</form>

<form action="/Registro" method="GET">
    <br>
    <button class="button1" type="submit"> Registrar</button>
</form>   

<footer>
    <p class="copyright">
        © <a class="copyright" href="mailto:marcos-junior@outlook.com">Marcos Alberto Schlichting Junior</a> 2021
    </p>
</footer>