<div class="navbar">
    <a href="/">Login</a>
    <h2>UV TAG - REGISTRO</h2>
</div>

<form action="/Registro" method="POST">
    <br><br><br>
    <div align="center">
        <h4>Usuário</h4>
        <input class="input1" type="text" name="email" placeholder='email'>
        <input class="input1" type="password" name="senha" placeholder='senha'>
    </div>
    <br>
    <div align="center">
        <h4>Controlador</h4>
        <input class="input1" type="text" name="controlador_id" placeholder="ID">
        <input class="input1" type="text" name="controlador_nome" placeholder="nome">
    </div>
    <br>
    <div align="center">
        <h4>Dispositivo</h4>
        <input class="input1" type="text" name="dispositivo_id" placeholder="ID">
        <input class="input1" type="text" name="dispositivo_nome" placeholder="nome">
    </div>
    <br><br>
    <button class="button1" type="submit"> Registrar</button>    
</form>